<div class="ad bsa-center bsa-center--spacing">
  <div id="codefund" class="code-fund"></div>
    <script
      src="https://app.codefund.io/properties/683/funder.js"
      async
    ></script>
</div>
