<div class="card" id="theme-3">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321')"  class="card-header-url">
      <img class="card-img-top" src="{{asset "img/vue-material-dashboard-pro.jpg"}}" alt="Vue Material Dashboard PRO"></img>
    </a>
  </div>
  <div class="card-body">
    <div class="text-center">
      <a  target="_blank" href="https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321')">PREMIUM MATERIAL UI VUE ADMIN TEMPLATE</a>
      <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321"  onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321')">Vue Material Dashboard Pro</a>
    </div>
  </div>
  <div class="card-footer text-center">
    <a target="_blank" href="https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321"  class="btn btn-outline-success btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-dashboard-pro/?partner=93321')">Download</a>
  </div>
</div>

<div class="card" id="theme-4">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321')"  class="card-header-url">
      <img class="card-img-top" src="{{asset "img/vue-material-kit-pro.jpg"}}" alt="Vue Material Kit PRO"></img>
    </a>
  </div>
  <div class="card-body">
    <div class="text-center">
      <a  target="_blank" href="https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321')">PREMIUM VUE UI KIT TEMPLATE</a>
      <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321')">Vue Material Kit PRO</a>
    </div>
  </div>
  <div class="card-footer text-center">
    <a target="_blank" href="https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321"  class="btn btn-outline-success btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/vue-material-kit-pro/?partner=93321')">Download</a>
  </div>
</div>
